
.bg {
    background-color: #e6af5d;
}
.container {
    background-color: whitesmoke;
}
h3 {
    text-align: center;
    margin: .5em 0 .5em 0;
}
h2 {
    margin-top: 3em;
}
h1, h2 {
    text-align: center;
}
.subButt{
    margin: 1em 0;
}
.strike {
    text-decoration: line-through;
}